<div tabindex="0" class="group relative inline-block">
  <button class="focus:outline-none flex items-center justify-between w-full py-2 px-3 text-gray-900
               hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0
                 md:w-auto dark:text-white md:dark:hover:text-blue-500 dark:focus:text-white
               dark:hover:bg-gray-700 md:dark:hover:bg-transparent">
    <%= current_user_name %> <i class="fa-solid fa-chevron-down ml-2"></i>
  </button>

  <ul class="hidden group-focus-within:block list-none absolute w-40 z-1 shadow-lg animate-slideIn py-2
             text-sm text-gray-700 dark:text-gray-200">

    <% options.each do |option| %>
      <li>
          <%= link_to option[:link_path], class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600
                                                  dark:text-gray-200 dark:hover:text-white" do %>
            <%= option[:link_content] %>
          <% end %>
      </li>
    <% end %>

    <% if add_sing_out %>
      <li>
        <div class="py-1">
          <%= button_to destroy_user_session_path,
                        class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100
                                dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white",
                        method: :delete do %>
            Sign out
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
